*.iml
.gradle
/local.properties
/secrets.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
secrets.properties
/.idea/deviceManager.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_05_08_25,_11_19_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_05_08_25,_17_16_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_05_08_25,_17_26_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_05_08_25__11_19__Changes_.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_05_08_25__17_16__Changes_.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_05_08_25__17_26__Changes_.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_05_08_25,_11_19_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_05_08_25,_17_16_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_05_08_25,_17_26_[Changes]/shelved.patch
/secrets.properties